<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto-ISTEA</title>
</head>
<body>
    <form action="" method="get">
        <label for="">Nombre</label>
        <input type="text" placeholder="Ingrese su nombre">
        <label for="">Apellido</label>
        <input type="text" placeholder="Ingrese su apellido">
        <input type="button" value="Enviar">
    </form>
    <ul>
        <li>
            Contactos
        </li>
       <li>
            Sobre Nosotros
       </li>
    </ul>
   
</body>
</html>