<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Proyecto-ISTEA</title>
</head>
<body>
    <header>
        <h1>Logo</h1>
        <nav>
            <a href="">Home</a>
            <a href="">Hombres</a>
            <a href="">Mujeres</a>
            <a href="">Niños</a>
            <a href="">Marcas</a>
            <a href="">Contacto</a>
        </nav>
    </header>



    <section>
        <h2>Productos destacados</h2>
        <article class="lista-articulos">
            <h3>Nombre del producto</h3>
            <p>Descripcion del Producto</p>
        </article>
    </section>
    <form action="" method="get" id="formulario1">
        <label for="">Nombre</label>
        <input type="text" placeholder="Ingrese su nombre">
        <br>
        <label for="">Apellido</label>
        <input type="text" placeholder="Ingrese su apellido">
        <input type="button" value="Enviar">
    </form>
    <div>
        <span>
            <p>parrafo dentro del span</p>
        </span>
        <p>esto es un parrafo</p>
    </div>
</body>
</html>