<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="icon" href="/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Indumentaria</title>
</head>
<body>
    <header>
        <div id="logo" class="logo">
            <a href="index.html">
                <img src="/img/logo.png" alt="logo">
            </a>
        </div>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <nav class="navbar">
            <div class="search-bar">
              <input type="text" placeholder="Buscar..">
              <button type="submit"><i class="fa fa-search"></i></button>
            </div>
            <a href="">Hombres</a>
            <a href="">Mujeres</a>
            <a href="">Marcas</a>
            <a href="/views/carrito.html" class="cart-icon">
                <i class="fa-solid fa-cart-shopping"></i>
                <span class="cart-count">0</span>
            </a>
        </nav>
    </header>
    <section class="banner">
        <div class="banner-content">
            <h1>¡Bienvenidos a nuestra tienda!</h1>
            <p>Descubre las últimas tendencias en moda</p>
            <a href="#productos" class="banner-button">Ver colección</a>
        </div>
    </section>
    <main>
        <section id="productos" class="container-items">
            <article class="product-item">
              <figure class="product-item__img">
                <img src="/img/Remera1.jpg" alt="imagen">
              </figure>
              <div class="product-item__info">
                <i class="fa-solid fa-truck"></i>
                <p class="info-price">$20.000</p> 
                <p class="info-discount">40% OFF</p>
              </div>
              <div class="product-item__title">
                <h3>Remera oversize negra</h3>
              </div>
              <div class="product-item__button">
                <button class="buy-button">Agregar al carrito</button>
              </div>
            </article>
            
            <article class="product-item">
                <figure class="product-item__img">
                  <img src="/img/Remera2.jpg" alt="imagen">
                </figure>
                <div class="product-item__info">
                  <i class="fa-solid fa-truck"></i>
                  <p class="info-price">$30.000</p>
                  <p class="info-discount">20% OFF</p>
                </div>
                <div class="product-item__title">
                  <h3>Remera oversize negra</h3>
                </div>
                <div class="product-item__button">
                  <button class="buy-button">Agregar al carrito</button>
                </div>
            </article>

            <article class="product-item">
                <figure class="product-item__img">
                  <img src="/img/Remera3.jpg" alt="imagen">
                </figure>
                <div class="product-item__info">
                  <i class="fa-solid fa-truck"></i>
                  <p class="info-price">$23.000</p>
                  <p class="info-discount">20% OFF</p>
                </div>
                <div class="product-item__title">
                  <h3>Remera oversize negra</h3>
                </div>
                <div class="product-item__button">
                  <button class="buy-button">Agregar al carrito</button>
                </div>
            </article>

            <article class="product-item">
                <figure class="product-item__img">
                  <img src="/img/Remera4.jpg" alt="imagen">
                </figure>
                <div class="product-item__info">
                  <i class="fa-solid fa-truck"></i>
                  <p class="info-price">$70.000</p>
                  <p class="info-discount">20% OFF</p>
                </div>
                <div class="product-item__title">
                  <h3>Remera oversize rayada</h3>
                </div>
                <div class="product-item__button">
                  <button class="buy-button">Agregar al carrito</button>
                </div>
            </article>
            
            <article class="product-item">
                <figure class="product-item__img">
                  <img src="/img/zapatillas1.webp" alt="imagen">
                </figure>
                <div class="product-item__info">
                  <i class="fa-solid fa-truck"></i>
                  <p class="info-price">$200.000</p>
                  <p class="info-discount">20% OFF</p>
                </div>
                <div class="product-item__title">
                  <h3>Zapatillas Nike Jordan</h3>
                </div>
                <div class="product-item__button">
                  <a href="/views/detalle.html">
                    <button class="buy-button">Agregar al carrito</button>
                  </a>
                </div>
            </article>

            <article class="product-item">
                <figure class="product-item__img">
                  <img src="/img/abrigo2.jpg" alt="imagen">
                </figure>
                <div class="product-item__info">
                  <i class="fa-solid fa-truck"></i>
                  <p class="info-price">$100.000</p>
                  <p class="info-discount">20% OFF</p>
                </div>
                <div class="product-item__title">
                  <h3>Campera nike negra y blanca</h3>
                </div>
                <div class="product-item__button">
                  <button class="buy-button">Agregar al carrito</button>
                </div>
            </article>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h4>Sobre Nosotros</h4>
                <p>Somos una tienda de ropa con las últimas tendencias en moda para hombres y mujeres.</p>
            </div>
            <div class="footer-section">
                <h4>Enlaces Rápidos</h4>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="/views/contact.html">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Contacto</h4>
                <p><i class="fa-solid fa-location-dot"></i> Av. Corrientes 1234, CABA</p>
                <p><i class="fa-solid fa-phone"></i> +54 11 1234-5678</p>
                <p><i class="fa-solid fa-envelope"></i> info@tiendaropa.com</p>
            </div>
            <div class="footer-section">
                <h4>Síguenos</h4>
                <div class="social-icons">
                    <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://x.com/?logout=1750182727861"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Tienda de Ropa. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="/script/app.js"></script>
    <script src="/script/carrito.js"></script>
</body>
</html>
