/*cartstyles*/


.container-items {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.cart-container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 30px;
}

.cart-container h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.cart-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}
.cart-item{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cart-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cart-item__img{
    flex: 0 0 150px;
    overflow: hidden;
    position: relative;
}

.cart-item__img img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.5s ease;
}

.cart-item__img img:hover {
    transform: scale(1.05);
}

.cart-item__details {
    flex: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item__details h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.cart-item__price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.cart-item__quantity {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.cart-item__quantity label {
    font-size: 16px;
    color: #333;
}

.cart-item__quantity input {
    width: 60px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.remove-button {
    background-color: #ff4757;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content
}

.remove-button:hover {
    background-color: #222;
    transform: scale(1.03);
}